<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumProject"> <!-- Test Suite -->
   	<test name="SuiteTests"> <!-- Test Classes -->
    	 <classes>
        	<class name="seleniumproject.Activity1" />
            <class name="seleniumproject.Activity2" />
            <class name="seleniumproject.Activity3" />
            <class name="seleniumproject.Activity4" />
            <class name="seleniumproject.Activity5" />
            <class name="seleniumproject.Activity6" />
            <class name="seleniumproject.Activity7" />
            <class name="seleniumproject.Activity8" />
            <class name="seleniumproject.Activity9" />
        </classes>
    </test>
</suite>